<h3>Have a bad day?</h3>
<% if @squad %>
  <h1>Thank you for considering the <%= @squad.name %></h1>
<% else %>
  <h1>Don the Mask, Get Revenge</h1>
<% end %>
<%= render partial: "form", locals: {villain: @villain, squad: @squad} %>
